@media  (max-width:480px) {
    .nav-bar {
        padding-top: 20px;
        margin-left: 10px;
    }
    .nav-bar .menu-list{
        display: none;
    }
    .back-image{
        
        width: auto;
        height: 400px;
    }
    .logo-section{
        width: 100%;
    }

    .logo-section .logo img{
        width: 190px;
    }

    .logo-section .para {
        width: 250px;
        height: auto;
    }
    .logo-section .para p{
        
        font-size: 1.3rem;
        line-height: 23px;
    }
    .boxes{
        grid-template-columns: repeat(1,1fr);
    }

    .heading{
        width: 100%;
        padding: 0 10px;
    }

    .heading h2{
        font-size: 1.5rem;

    }

    .middle-top .paragraph{
        padding: 0 20px;
    }

    .middle-top .paragraph p{
        font-size: 0.93rem;
        height: auto;
        
    }

    .middle-section .middle-bottom{
        grid-template-columns: repeat(1,1fr);
    }

    .Countries h1{
        font-size: 1.8rem;
    }

    .boxes{
        grid-template-columns: repeat(1,1fr);
        
    }
    .box2{
        font-size: 1rem;
        font-weight: 500;
    }
    .boxes .left img{
        width: 45px;
        
    }
    
    .bottom-list ul li{
        font-size: 15px;
    }

    .foot-right{
        margin-top: 40px;  
    }
}

@media screen and  (min-width:481px) and (max-width:765px) {
    .nav-bar {
        padding-top: 20px;
        margin-left: 10px;
    }
    .nav-bar .menu-list{
        display: none;
    }
    .back-image{
        
        width: auto;
        height: 500px;
    }
    .logo-section{
        width: 100%;
    }

    .logo-section .logo img{
        width: 280px;
    }

    .logo-section .para {
        width: 500px;
        height: auto;
    }
    .logo-section .para p{
        font-weight: 500;
        font-size: 2rem;
        line-height: 39px;
    }
    .boxes{
        grid-template-columns: repeat(1,1fr);
    }

    .heading{
        width: 100%;
        padding: 0 10px;
    }

    .heading h2{
        font-size: 1.5rem;

    }

    .middle-top .paragraph{
        padding: 0 20px;
    }

    .middle-top .paragraph p{
        font-size: 0.93rem;
        height: auto;
        
    }

    .middle-section .middle-bottom{
        grid-template-columns: repeat(3,1fr);
    }

    .Countries h1{
        font-size: 1.8rem;
    }

    .boxes{
        grid-template-columns: repeat(3,1fr);
    }

    .box2{
        font-size: 1rem;
        font-weight: 500;
    }

    .boxes .left{
        display: flex;
    }

    .boxes .left img{
        width: 45px;
        
    }
    
    .bottom-list ul li{
        font-size: 15px;
    }

    .foot-right{
        margin-top: 40px;  
    }
}

@media screen and  (min-width:766px) and (max-width: 900px) {
    .nav-bar {
        padding-top: 5px;
        
    }
    .nav-bar .menu-list ul li{
        margin-top: 18px;
        
    }
    .nav-bar .menu-bar i{
       display: none;
    }
    .back-image{
        width: auto;
        height: 500px;
    }

    
    .middle-top .paragraph p{
        padding: 0 20px;
        font-size: 20px;
    }

    .middle-section .middle-bottom{
        grid-template-columns: repeat(3,1fr);
    }

    .Countries h1{
        font-size: 1.8rem;
    }

    .boxes{
        grid-template-columns: repeat(3,1fr);
        
    }
    .box2{
        font-size: 1rem;
        font-weight: 500;
    }
    .boxes .left{
        display: flex;
    }
    .boxes .left img{
        width: 45px;
        
    }
    
    .bottom-list ul li{
        font-size: 15px;
    }

    .foot-right{
        margin-top: 40px;  
    }
}

@media screen and  (min-width:901px)  {
    .nav-bar {
        padding-top: 5px;
        
    }
    
    .nav-bar .menu-bar i{
       display: none;
    }
    
    .logo-section{
        width: 100%;
    }

    .middle-top .paragraph p{
        padding: 0 20px;
    }
}